/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.responsive-block-editor-addons-buttons__outer-wrap {
  .responsive-block-editor-addons-buttons__wrap {
    -js-display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .responsive-block-editor-addons-button__active,
  .responsive-block-editor-addons-button__active:focus {
    box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
  }

  a.responsive-block-editor-addons-button__link:focus,
  .responsive-block-editor-addons-button__link:focus {
    box-shadow: none;
    text-decoration: none;
  }

  .responsive-block-editor-addons-button__wrapper {
    text-decoration: none;
    font-family: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  .responsive-block-editor-addons-button__wrapper a.responsive-block-editor-addons-button__link,
  .responsive-block-editor-addons-button__wrapper:hover a.responsive-block-editor-addons-button__link,
  .responsive-block-editor-addons-button__wrapper .responsive-block-editor-addons-button__link,
  .responsive-block-editor-addons-button__wrapper:hover .responsive-block-editor-addons-button__link {
    text-decoration: none;
  }
}

.responsive-block-editor-addons-buttons__wrap .responsive-block-editor-addons-button__wrapper a.responsive-block-editor-addons-button__link {
  display: inline-block;
}

.responsive-block-editor-addons-buttons__outer-wrap.center {
  .responsive-block-editor-addons-buttons__wrap {
    align-items: center;
  }
}
.wp-block-responsive-block-editor-addons-buttons.right.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
  justify-content: flex-end;
  display: flex;
}

.wp-block-responsive-block-editor-addons-buttons.left.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
  justify-content: flex-start;
  display: flex;
}

.responsive-block-editor-addons-buttons-repeater {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive-block-editor-addons-buttons-stack-desktop .responsive-block-editor-addons-buttons__wrap {
  flex-direction: column;
}

.components-base-control__field {

  p {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #666666;
  }

  .responsive-block-editor-addons-alignment,
  .responsive-block-editor-addons-alignment-tablet,
  .responsive-block-editor-addons-alignment-mobile {
    max-height: 32px;
    height: 100%;
    margin-top: 8px;

    .components-toolbar {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      min-height: 32px;
      max-height: 32px;
      height: 100%;
      border: 1px solid #C9C8C8;
      border-radius: 4px;

      >div {
        width: 100%;
        max-height: 32px;
        height: 100%;

        // First child styling
        &:first-child {
          border-right: 1px solid #C9C8C8;
        }

        // Last child styling
        &:last-child {
          border-left: 1px solid #C9C8C8;
        }

        .components-toolbar__control {
          width: 100%;
          max-height: 32px;
          height: 100%;

          &::before {
            width: 100%;
            left: 0px;
            right: 0px;
          }
        }

        .components-toolbar__control.is-pressed {
          &::before {
            background: #007CBA;
            width: 100%;
            left: 0px;
            right: 0px;
            max-height: 32px;
            height: 100%;
          }
        }
      }
    }
  }

}

.responsive-block-editor-addons__url-panel-body {
  .components-base-control__field {
    .components-select-control {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .components-flex-item {
        flex: 1.5;

        label {
          font-family: 'Roboto';
          font-size: 13px;
          font-weight: 400;
          line-height: 16.41px;
          text-align: left;
          color: #666;
          text-transform: none;
        }
      }

      .components-input-control__container {
        flex: 2;
        width: 193px;
        height: 32px;
        padding: 6px 12px 6px 12px;
        gap: 12px;
        border-radius: 4px;
        border: 1px solid #ddd;
        text-transform: none;
      }
    }
  }
}

.rbea-tab-radio-options-help-text {
  font-family: Roboto;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 14.06px;
  text-align: left;
  color: #A4A4A4;
  margin-top: 10px !important;
}

@media (max-width: 576px) {
  .responsive-block-editor-addons-buttons-stack-mobile .responsive-block-editor-addons-buttons__wrap {
    flex-direction: column;
  }
  .wp-block-responsive-block-editor-addons-buttons-child.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .responsive-block-editor-addons-buttons-stack-tablet .responsive-block-editor-addons-buttons__wrap {
    flex-direction: column;
  }
}

@media only screen and (min-width: 976px) {
  .wp-block-responsive-block-editor-addons-buttons.right.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: flex-end;
    display: flex;
  }

  .wp-block-responsive-block-editor-addons-buttons.left.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: flex-start;
    display: flex;
  }
}
@media only screen and (max-width: 976px) {
  .wp-block-responsive-block-editor-addons-buttons.tabletAlignright.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: flex-end;
    display: flex;
  }
  .wp-block-responsive-block-editor-addons-buttons.tabletAligncenter.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: center;
    display: flex;
  }

  .wp-block-responsive-block-editor-addons-buttons.tabletAlignleft.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: flex-start;
    display: flex;
  }
}
@media only screen and (max-width: 767px) {
  .wp-block-responsive-block-editor-addons-buttons.mobileAlignright.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: flex-end;
    display: flex;
  }
  .wp-block-responsive-block-editor-addons-buttons.mobileAligncenter.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: center;
    display: flex;
  }

  .wp-block-responsive-block-editor-addons-buttons.mobileAlignleft.responsive-block-editor-addons-block-button.responsive-block-editor-addons-buttons__outer-wrap {
    justify-content: flex-start;
    display: flex;
  }
}