.rbea-responsive-border-radius-control-tabs {
    & .components-tab-panel__tabs {
        position: relative;
        text-align: right;
        margin-left: 0px;
        margin-right: 20px;
        top: 3px;
    }
}