.rbea-tab-radio-control-wrapper {
  .rbea-tab-radio-control-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .rbea-control__header-controls-container {
      .components-button.rbea-reset {
        .dashicons-image-rotate {
          font-size: 10px;
        }
      }
    }
  }
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #666;
  }
  .rbea-tab-radio-options {
    display: flex;
    overflow: hidden;
    margin-top: 8px;
    flex-direction: row;
    width: 100%;
    align-items: center;
    box-shadow: inset 0 0 0 0.5px #C9C8C8;
    border-radius: 6px;
    box-sizing: border-box;
    gap: 0px;

    .rbea-tab-radio-option {
      font-family: Roboto;
      color: #666;
      font-size: 13px;
      font-weight: 400;
      line-height: 16.41px;
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px; 
      display: block;
      flex: 1;
      height: 32px;
      border: unset;
      border-radius: 0;
      cursor: pointer;
      box-shadow: inset 0 0 0 0.5px #C9C8C8;

      .dashicons {
        font-family: "Dashicons";
        font-size: 16px; /* Or adjust size as needed */
        line-height: 16px;
      }
      
      .rbea-tab-radio-option-border {
        width: 100%;
      }
    }

    .rbea-tab-radio-option.rbea-text-decoration-underline-control {
      text-decoration: underline;
    }

    .rbea-tab-radio-option.rbea-text-decoration-overline-control {
      text-decoration: overline;
    }

    .rbea-tab-radio-option.rbea-text-decoration-line-through-control {
      text-decoration: line-through;
    }
    
    .rbea-tab-radio-option:first-child {
      border-radius: 6px 0px 0px 6px;
    }
    .rbea-tab-radio-option:last-child {
      border-radius: 0px 6px 6px 0px;
    }
    .rbea-tab-radio-option.is-active {
      background-color: #007CBA;
      color: white;
      box-shadow: inset 0 0 0 0.5px #007CBA;
      border-color: #007CBA;
    }

  }
}

.rbea-tab-radio-control-wrapper-with-icon {
  .rbea-tab-radio-control-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .rbea-control__header-controls-container {
      .components-button.rbea-reset {
        .dashicons-image-rotate {
          font-size: 10px;
        }
      }
    }
  }
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  label {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #666;
  }
  .rbea-tab-radio-options {
    display: flex;
    overflow: hidden;
    margin-top: 8px;
    flex-direction: row;
    width: 100%;
    align-items: center;

    .rbea-tab-radio-option {
      text-align: center;
      padding-top: 8px;
      padding-bottom: 8px; 
      display: block;
      flex: 1;
      cursor: pointer;

      .dashicons {
        font-family: "Dashicons";
        font-size: 16px; /* Or adjust size as needed */
        line-height: 16px;
      }  

      .rbea-tab-radio-option-border {
        width: 100%;
      }
    }

    .rbea-tab-radio-option.rbea-text-decoration-underline-control {
      text-decoration: underline;
    }

    .rbea-tab-radio-option.rbea-text-decoration-overline-control {
      text-decoration: overline;
    }

    .rbea-tab-radio-option.rbea-text-decoration-line-through-control {
      text-decoration: line-through;
    }
    
    .rbea-tab-radio-option.is-active {
      background-color: #007CBA;
      color: white;
    }

  }

  .rbea-tab-radio-options-help-text {
    font-family: Roboto;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #A4A4A4;
    margin-top: 5px;
  }
}
  