.responsive-block-editor-addons-typography-settings > .responsive-block-editor-addons-typography-settings > .components-panel__body {
	border-top: 1px solid #e0e0e0 !important;
}

.rbea-inspector-tab .responsive-block-editor-addons-typography-settings > .responsive-block-editor-addons-typography-settings {
	.components-panel__body  {
		padding: 0px;
	}
	.components-panel__body-title{
		margin-top: 0px;
	}
}

.responsive-block-editor-addons-typography-settings 
.components-base-control 
.components-base-control__field 
.components-select-control {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.components-flex-item {
		flex: 1.5;
		label {
			font-family: 'Roboto';
			font-size: 13px;
			font-weight: 400;
			line-height: 16.41px;
			text-align: left;
			color: #666;
			text-transform: none;
		}
	}

	.components-input-control__container {
		flex: 2;
		width: 193px;
		height: 32px;
		padding: 6px 12px 6px 12px;
		gap: 12px;
		border-radius: 4px;
		border: 1px solid #ddd;
		text-transform: none;
	}
}

.rbea-tab-radio-control-wrapper-with-icon {
	label {
	  font-family: Roboto;
	  font-size: 13px;
	  font-weight: 400;
	  line-height: 16.41px;
	  text-align: left;
	}
	.rbea-tab-radio-options {
	  gap: 5px;
	  .rbea-tab-radio-option {
		max-width: 105px;
		width: 100%;
		padding: 0px;
		margin: 0px;
		.rbea-tab-radio-option-icon {
		  width: 100%;
		  padding: 5px;
		}
  
		.rbea-tab-radio-option-border {
		  border: 1px solid #D9D9D9;
		  border-radius: 4px;
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  padding: 4px;
		}
	  }
	  .rbea-tab-radio-option.is-active {
		background-color: white;
		max-width: 105px;
		width: 100%;
		.rbea-tab-radio-option-icon {
		  width: 100%;
		  background-color: #007CBA;
		  color: #FFFFFF;
		}
  
		.rbea-tab-radio-option-border {
		  background-color: #F1FAFF;
		  border: 1px solid #007CBA;
		  border-radius: 4px;
		}
	  }
	}
  }